.map-class{

   
    margin-top: 30px;
  
    margin-left: 30px;
    margin-right: 3px;
    margin-bottom: 30px;

    border-left: 99px;
    border-bottom: 10px;
    border-right: 44px;
}
.map-class2{

    margin-top: 20px;
    margin-right: 59px;
    margin-left: 0px;
    margin-bottom: 90px; 


}